.createCurriculumContainer{
	margin-top: 40px;
	.errorTag {
		color: $popPink;
	}
	.resourceSectionCard {
		border: 1px black solid;
		margin-bottom: 20px;
	}
	.nestedSectionCard {
		margin: 15px;
		border: 2px $deepBlue solid;
	}
}